<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="AssemblerClassConfig" type="System.Configuration.AppSettingsSection, System.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <AssemblerClassConfig>
    <add key="FilePath" value="Reflection\bin\Debug\Ninject.dll"/>
  </AssemblerClassConfig>
</configuration>
